.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B5B5B5;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  border: 1px solid black;

}

.menuli {
  float: right;
}

.menulia {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.backicon{
  list-style-type: none;
  margin: 9%;
  position: relative;
  float: left;
  list-style-type: none;
  width: 95px;
  height: 125px;
  background: #BBBBBB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.icon{
  text-align: center;
  width: 95px;
  height: 95px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

body{
  align-items: center;
    background-color: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
  }

.dot {
  position: right;
  width: 13px;
  height: 13px;
  background: #9AFF4B;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(0.5px);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

h6{
  padding-top: 80px;
}