.heading{
    margin-top: 20px;
}
.line{
    position: absolute;
    width: 99%;
    height: 1px;
    top: 100px;
}
.rectanguloafuera{
    background-color: #B5B5B5;
    width: 90%;
    height: 95px;
    border: black;
    border-radius: 2%;
    transform: translate(5%,30%);
    text-align: center;
}

.rectanguloadentro{
    background-color: #EBEBEB;
    height: 67px;
    border: black;
    border-radius: 2%;
    position: relative;
    transform: translate(5%,22%);
    width: 90%;
    text-align: center;
}

.subtitle{
    font-size: relative;
    transform: translate(60px,-105%);
    width: 90%;
}

.line2{
    position: absolute;
    width: 90%;
    height: 1px;
    top: 680px;
}

.ficon{
    align-items: right;
    text-align: center;
    width: 95px;
    height: 95px;
}

.pluss.iconn {
    padding-left: 46%;
    padding-bottom: 10%;
    color: #000;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}